<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- <link rel="shortcut icon" href="http://cs.illinois.edu/sites/all/themes/csdept/favicon.ico"          type="image/vnd.microsoft.icon"/> -->    <title>Faceted Taxonomy Construction and Search</title>

    <!-- Foundation CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/easy-autocomplete.themes.min.css">

    <link rel="stylesheet"
          href="		https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"
          rel="stylesheet"/>
    {#
    <link rel="stylesheet" #}
          {# href="https://cdnjs.cloudflare.com/ajax/libs/zTree.v3/3.5.29/css/zTreeStyle/zTreeStyle.min.css"/>
    #}
    {#
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    #}
    {#
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/zTree.v3/3.5.29/css/awesomeStyle/awesome.min.css">
    #}
    <link href="{{ url_for('static', filename='css/bootstrapStyle.css') }}" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">
    <!-- highlightjs.org -->
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/highlight.js/9.9.0/styles/default.min.css"> -->

</head>

<body>
<!-- Nav -->
{% include 'nav.html' %}

<!-- Main -->
<div class="container" id="highlightArea">
    <div class="row">
        <div class="col-md-12">
            <div id="main"></div>
            <!-- The search bar -->
            <div style="text-align: center;">
                <h2>Hiexpan (User Guided Taxonomy Generation)</h2>
                <form action="/hi_expan" method="post" id="search-form">
                    <div class="col-md-3"></div>
                    <div class="input-group col-md-6">
                        <br>
                            <textarea id="user-input" name="inputData" style="width:600px;height:600px;"
                                      placeholder="Input seed taxonomy for HiExpan in json format. Each element in the list is a seed taxonomy node, where the first term is the node name, the second term is the level, and the third term is a list of children.
Click Example button to see an example."></textarea>
                        </br>
                        <input type="text" id="filename" class="form-control" name="filename"
                               placeholder="Specify a filename for query"/>
                        <button id="example" onclick="showExample()" class="btn btn-primary" style="margin-top: 5px; margin-right: 10px;"> Example </button>
                        <input type="submit" class="btn btn-primary" style="margin-top: 5px;" value="Submit">
                    </div>
                </form>

                <div style="margin-top: 20px;">

                    <h3>Existing Taxonomies</h3>
                    <div>
                        {% for query in output_json.existing_taxonomies %}
                        <!--<ul>-->
                        <!--{{ query }} &nbsp;-->
                        <form action="/tree" method="GET">
                            <input type="hidden" name="filename" value="{{ query}}"/>
                            <a href="#" onclick="this.parentNode.submit()">{{ query }}</a>

                        </form>
                        <!--</ul>-->
                        {% endfor %}
                    </div>
                    {% if output_json.log_texts %}
                    <h3>{{ output_json.log_title }} <a
                            href="cancel_taxonomy_generation?raw_query={{output_json.raw_query}}&min_score={{output_json.min_score}}">Cancel</a></h3>
                    <div>
                        <ul>
                            {% for text in output_json.log_texts %}

                            <p>{{ text }}</p>

                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>
    <div class="row">
<!-- Footer -->{% include 'footer.html' %}
    </div>
</div>

</body>
<!-- Attach React components -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script> -->
<!-- <script type="text/javascript" src="http://static.runoob.com/assets/react/react-0.14.7/build/react.min.js"></script>
<script type="text/javascript" src="http://static.runoob.com/assets/react/react-0.14.7/build/react-dom.min.js"></script>
<script type="text/javascript" src="http://static.runoob.com/assets/react/browser.min.js"></script> -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- <script src="{{url_for('static', filename='js/npm.js')}}"></script> -->

<!-- highlight search keywords -->
<script type="text/javascript" src="{{ url_for('static', filename='hilitor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mark.js') }}"></script>
<!-- <script type="text/javascript" src="http://www.the-art-of-web.com/hilitor.js"></script> -->
<!-- <script src="http://johannburkard.de/resources/Johann/jquery.highlight-5.js"></script> -->

<!-- Customized JS -->
<!-- <script  type="text/javascript" href="{{url_for('static', filename='mystyle.js')}}" rel="stylesheet"></script> -->


<!-- Customized JS -->
<!-- A simple script for pagination -->
<script src="{{ url_for('static',filename='js/flippage.js') }}"></script>
<!-- Script for folding long text -->
<script src="{{ url_for('static',filename='js/shorten.js') }}"></script>
<!-- Script for easy-autocomplete-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/easy-autocomplete/1.3.5/jquery.easy-autocomplete.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zTree.v3/3.5.29/js/jquery.ztree.core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zTree.v3/3.5.29/js/jquery.ztree.exedit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zTree.v3/3.5.29/js/jquery.ztree.excheck.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/bootstrap-slider.min.js"></script>
<script>
    // Post to the provided URL with the specified parameters.
    function post(path, parameters) {
        var form = $('<form></form>');

        form.attr("method", "post");
        form.attr("action", path);

        $.each(parameters, function (key, value) {
            var field = $('<input></input>');

            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);

            form.append(field);
        });

        // The form needs to be a part of the document in
        // order for us to be able to submit it.
        $(document.body).append(form);
        form.submit();
    }

    function showExample() {
        event.preventDefault();
        var userInput = '[\n' +
            '            ["ROOT", -1, ["machine learning", "data mining", "natural language processing", "information retrieval", "wireless networks"]],\n' +
            '            ["data mining", 0, ["association rule mining", "text mining", "outlier detection"]],\n' +
            '            ["machine learning", 0, ["support vector machines", "decision trees", "neural networks"]],\n' +
            '            ["natural language processing", 0, ["named entity recognition", "information extraction", "machine translation"]]\n' +
            '        ]'
        $("#user-input")[0].value = userInput;
        $("#filename")[0].value = 'example';
    }

    var form = $('#search-form');
    form.on('submit', function (event) {
        event.preventDefault();

        if ($('#user-input')[0].value.length < 1){
            alert("Please provide seed taxonomy!")
            return false;
        }

        if ($('#filename')[0].value.length < 1){
            alert('Please input a filename!')
            return false;
        }
        this.submit();
    })


</script>
</html>
